<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('_head') -%>
</head>
<%- include('navbar') -%>

<body class="body-index">
  <main>
    <div class="container center-align mt-4">
      <h1>
        <p>
          <i class="material-icons error-icon animate" style="color:red;">ERROR! 404</i>
        </p>

        Upps! Ocurrio un error
      </h1>
      <p class="color-discord">
        La pagina que intentabas buscar, no esta disponible o no tienes acceso a ella
      </p>
      <a class="btn btn-discord-dark btn-lg" href="/" role="button"><i>Volver</i></a>
    </div>
  </main>
</body>

</html>