<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('_head') -%>
</head>

<body data-spy="scroll" data-target="#datos">
  <%- include('panel/header') -%>
  <%- include('panel/datos') -%>
  <%- include('panel/opciones') -%>
</body>

</html>
<script src="/hidden.js"></script>