<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('_head') -%>
  </head>

  <body data-spy="scroll" data-target="#data">
    <%- include('panel/header') -%> <%- include('panel/data') -%> <%-
    include('panel/opciones') -%>
  </body>
</html>
<script src="/hidden.js"></script>
