<!DOCTYPE html>
<html lang="es">
  <head>
<%- include _head.ejs -%>
  </head>
<%- include header.ejs -%>
  <body class="body-index">
    <main>
      <div class="container center-align mt-4">
          <h1>
            <p >
              <i class="material-icons error-icon animate" style="color:red;">ERROR! 404</i>
            </p>
            
            Upps! Ocurrio un error  
          </h1>
          <p class="color-discord">
             La pagina que intentabas buscar, no esta disponible o no tienes acceso a ella
          </p>
            <a class="btn btn-discord-dark btn-lg" href="/" role="button"><i>Volver</i></a>
      </div>
    </main>
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>