<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('_head') -%>
  </head>
  <body class="body-index">
    <%- include('navbar') -%>
    <footer>
      <p>⚡ Powered By CentralHost.es</p>
      <img class="responsive-img" src="https://cdn.discordapp.com/attachments/762663409388093470/776288851672563762/350kb.gif">
      </footer>
  </body>
</html>