---
const { title = Astro.props.title ?? "Caffe - The Discord Bot", favicon = "https://i.imgur.com/RALQsX4.png", url = process.env.PUBLIC_URL } = Astro.props;
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title}</title>
  <link id="favicon" rel="icon" type="image/x-icon" href={favicon}/>
  <link rel="preload" href="/css/global.css" as="style" />
  <meta name="keywords" content="Caffe-Bot" />
  <meta property="og:type" content="website" />
  <meta name="distribution" content="global" />
  <meta name="theme-color" content="#7289da" />
  <meta property="og:url" content={url} />
  <meta property="og:title" content="Caffe Website"/>
  <meta property="og:site_name" content="Caffe" />
  <meta property="og:description" content="Dashboard del bot caffe" />
  <meta property="og:image" content={favicon} />
  <meta name="description"
  content='Construye el mejor servidor de Discord con el bot caffe, podrás cambiar el prefix por default, configurar los eventos de registro comúnmente llamados "Logs", establecer el canal de bienvenida, y establecer un rol auto asignable para los nuevos usuarios'
/>
</head>